*{
    box-sizing: border-box;
}

body{
    background: #ccc;
}

.content{
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
}

.content-left{
    width: 40%;
    height: 500px;
}

.content-left img{
    animation-play-state: paused; 
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.content-left img:hover{
    animation-play-state: running;
}

@keyframes example {
    from {margin: 0;}
    to {margin: 0 40px 0 0;}
  }

.content-right{
   border: 1px solid #000;
   border-radius: 35px;
   padding: 20px;
}